<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Evento</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>¿Qué es Fullstack Nights?</h3>
                <p>
                    {{site.description.full}}
                </p>
            </div>
            <div class="col-lg-12">
                <h3>¿Quién debe venir a este evento?</h3>
                <p>
                    {{site.description.who_should_come}}
                </p>
            </div>
            <div class="col-lg-12">
                <h3>¿Por qué cobran por la entrada?</h3>
                <p>
                    {{site.description.why_pay}}
                </p>
            </div>
        </div>
    </div>
</section>
