
<section id="current-talks">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Charlas Corrientes</h3>
                <hr />
            </div>
            <div class="col-lg-12 team">
                {% for speaker in site.current_talks.speakers %}
                <div class="team-img-wrapper col-lg-4">
                    <div>
                        <img src="{{speaker.img}}" alt="{{ speaker.name }}">    
                    </div>
                    <div>
                        <h5>{{ speaker.name}}</h5>
                        <ul class="list-inline">
                            {% for network in speaker.social %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
