<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive fsn-logo" src="/img/fsn.png" alt="">
                <div class="intro-text">
                    <span class="name">{{ site.title }}</span>
                    <hr>
                    <span class="skills">{{ site.sub_header }}</span>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <a target="_blank" rel="noopener noreferrer" href='https://play.google.com/store/apps/details?id=io.blimp.fsn&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
              <img class="app-download-img" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
            </a>
            <!-- <img class="app-download-img" alt='Coming Soon to the App Store' src='http://i.imgur.com/9LHlUBv.png'/> -->
          </div>
        </div>
    </div>
</header>
