<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive fsn-logo" src="/img/fsn.png" alt="">
                <div class="intro-text">
                    <span class="name">{{ site.title }}</span>
                    <hr>
                    <span class="skills">{{ site.sub_header }}</span>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <a target="_blank" rel="noopener noreferrer" href='https://play.google.com/store/apps/details?id=io.blimp.fsn&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
              <img class="app-download-img google-badge-size" alt='Get it on Google Play' src='/img/google-play-badge.png'/>
            </a>
            <a target="_blank" rel="noopener noreferrer" href="https://itunes.apple.com/us/app/fullstack-nights/id1114247628?mt=8">
              <img class="app-download-img" src="/img/download-app-store-badge-135x40.svg" href="https://itunes.apple.com/us/app/fullstack-nights" alt="Get it on the App Store" />
            </a>
          </div>
        </div>
    </div>
</header>
