<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.abrev }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="/#page-top"></a>
                </li>
                {% if site.active_meetup %}
                <li class="page-scroll">
                    <a href="/#current-talks">Charlas</a>
                </li>
                {% endif %}
                <li class="page-scroll">
                    {% if site.active_meetup %}
                        <a href="/#tickets">Registro</a>
                    {% else %}
                        <a href="/#newsletter">Newsletter</a>
                    {% endif %}
                </li>
                <li class="page-scroll">
                    <a href="/#about">El Evento</a>
                </li>
                <li class="page-scroll">
                    <a href="/videos">Los Videos</a>
                </li>
                <li class="page-scroll">
                    <a href="/#team">El Equipo</a>
                </li>
                <li class="page-scroll">
                    <a href="/#talk-submission">Speakers</a>
                </li>
                {% if site.active_meetup %}
                <li class="page-scroll">
                    <a href="/#newsletter">Newsletter</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
