<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Fullstack Nights Podcast</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul style="list-style: none">
                    <li>
                        <a href="https://itunes.apple.com/us/podcast/fullstack-nights-podcast/id1388196921?mt=2&app=podcast" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/podcast-lrg.svg) no-repeat;width:133px;height:34px;background-size:contain;"></a>
                    </li>
                    <li>
                        <a href='https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&amp;isi=691797987&amp;ius=googleplaymusic&amp;apn=com.google.android.music&amp;link=https://play.google.com/music/m/Ie5mu7ft6fzx3e4yhrmqhmk5lse?t%3DFullstack_Nights_Podcast%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16' rel='nofollow'><img width='125px' alt='Listen on Google Play Music' src='https://play.google.com/intl/en_us/badges-music/images/badges/en_badge_web_music.png'/></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>