<section class="success" id="talk-submission">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Speakers</h2>
                <hr >
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>¿Quieres dar una charla en Fullstack Nights?</p>
                <h3>AWESOME!</h3>
                <p>Haz click en el botón que sigue, llena la forma y la evaluamos. Como siempre, gracias por tu interes!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="https://docs.google.com/forms/d/1SIL9HvzaQ34F3iHIIsMmDlS5Icoc9XPXTwrsr9_M87U/viewform" class="btn btn-default btn-external btn-talk-submit">Somete tu Charla</a>
            </div>
        </div>
    </div>

</section>
