
<!-- Portfolio Grid Section -->
<section id="tickets">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Registro</h2>
                <hr >
            </div>
        </div>
        <div class="row">
            <p>
                Visite <a href="https://fullstacknights-jan.eventbrite.com?ref=elink" target="_blank">nuestro evento en Eventbrite</a> para más detalles, ver los temas y los perfiles de los conferenciantes. 
            </p>
            <p>
                O compra tus taquillas aqui por que sabes que va a estar bueno!
            </p>
        </div>
        <div class="row">
            {{ site.eventbrite.ticket_form_widget }}
        </div>
    </div>
</section>